@model labb3.Models.Genra

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="rightcolumn">
    <h2 class="txt">ADD DIN FAVORITE CD</h2>

    <form asp-action="Create">
        <div asp-validation-summary="All"></div>

        <div class="input-container">
            <i class="icon"></i>
            <select asp-for="ArtistId" class="input-field" asp-items="ViewBag.ArtistId">
                <option value="0">Choose your favorite artist</option>
            </select>
        </div>

        <div class="input-container">
            <i class="icon"></i>
            <input asp-for="Name" class="input-field" placeholder="CD NAME" />
        </div>

        <div class="input-container">
            <textarea asp-for="Description" class="input-field" placeholder="DESCRIPTION"></textarea>
        </div>

        <input type="submit" value="ADD" class="btn" />
        <br /><br /><br />
        <a asp-action="Index" class="btn">Back to List</a>
    </form>
</div>

