@model labb3.Models.Genra

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="rightcolumn">
        <h2 class="txt">UPDATE CD</h2>
        <form asp-action="Edit">
            <div asp-validation-summary="All"></div>
            <input type="hidden" asp-for="Id" />

            <div class="input-container">
                <i class="icon"></i>
                <select asp-for="ArtistId" class="input-field" asp-items="ViewBag.ArtistId"></select>
            </div>

            <div class="input-container">
                <i class="icon"></i>
                <input asp-for="Name" class="input-field" placeholder="CD NAME" />
            </div>

            <div class="input-container">
                <textarea asp-for="Description" class="input-field" placeholder="DESCRIPTION"></textarea>
            </div>

            <input type="submit" value="UPDATE" class="btn" />
            <br /><br /><br />
            <a asp-action="Index" class="btn">Back to List</a>
        </form>
    </div>
