@model IEnumerable<labb3.Models.Artist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="rightcolumn">
    <h1 class="txt">LIST OF ARTIST NAMES</h1>
    @foreach (var item in Model)
    {
        <div class="column">
            <div class="card">

                <div class="container">
                    <p>Artist Name  @item.Name</p>
                    <a asp-action="Details" asp-route-id="@item.Id">Read More >></a>
                </div>

            </div>
        </div>

    }
</div>
